<p>
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
            (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Neural Network Comparison</span>
  </mat-toolbar>
</p>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened>
    <mat-form-field appearance="fill">
      <mat-label>Model 1</mat-label>
      <mat-select [(ngModel)]="firstModelId">
        <mat-optgroup *ngFor="let group of modelGroups | keyvalue" [label]="group.key">
          <mat-option *ngFor="let model of group.value" [value]="model.id">
            {{model.name}}
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Model 2</mat-label>
      <mat-select [(ngModel)]="secondModelId">
        <mat-optgroup *ngFor="let group of modelGroups | keyvalue" [label]="group.key">
          <mat-option *ngFor="let model of group.value" [value]="model.id">
            {{model.name}}
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Algorithm</mat-label>
      <mat-select [(ngModel)]="selectedAlgorithm" (selectionChange)="selectAlgorithm()">
        <mat-option *ngFor="let algo of algorithms" [value]="algo">
          {{algo}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Distance metric</mat-label>
      <mat-select [(ngModel)]="selectedMetric" [(value)]="selectedMetric" [disabled]="disableMetric">
        <mat-option *ngFor="let metric of metrics" [value]="metric">
          {{metric}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-checkbox [(ngModel)]="useEmbeddings" [disabled]="disableEmbeddings">
      Use node embeddings
    </mat-checkbox>
    <br><br>
    <button mat-stroked-button color="orange" (click)="compareModels()" style="color: orange;">Compare</button>
    <button mat-stroked-button color="grey" (click)="resetComparison()" style="color: gray; background-color: #f0f2f5;">
      Reset
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <div style="height: 90%; width: 80%;">
      <ng2-cytoscape [graphData]="mergedCyGraph"></ng2-cytoscape>
    </div>
  </div>
</mat-drawer-container>
