# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
nn-comparison-frontend/dist
nn-comparison-frontend/tmp
nn-comparison-frontend/out-tsc
# Only exists if Bazel was run
nn-comparison-frontend/bazel-out
nn-comparison-frontend/tslint.json
nn-comparison-frontend/tsconfig.json
nn-comparison-frontend/tsconfig.base.json
nn-comparison-frontend/tsconfig.spec.json
nn-comparison-frontend/tsconfig.app.json

# dependencies
nn-comparison-frontend/node_modules
nn-comparison-frontend/e2e/*

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
/nn-comparison-frontend/e2e/
