.example-container {
  width: 100%;
  height: 90%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 90%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 5px;
}

mat-sidenav {
  transition: 1s;
}

mat-drawer {
  width: 15%;
}

button {
  margin-right: 0.7em;
}

mat-list-item span {
  position: absolute;
  left: 0;
  font-size: small;
}

mat-form-field {
  width: 100%;
}

mat-toolbar {
  background: #f66e05;
  color: white;
}

/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #f66e05;
}

/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #f66e05;
}

/deep/ .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: #f66e05 !important;
}

/deep/ .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #f66e05;
}

/deep/ mat-slider {
  right: 10px !important;
  position: absolute !important;
}

/deep/ .mat-slider-thumb-label {
  transform: rotate(45deg) !important;
  border-radius: 50% 50% 0 !important;
  width: 20px !important;
  height: 20px !important;
  background-color: #f66e05 !important;
  top: -30px !important;

}

/deep/ .mat-slider-thumb {
  transform: scale(0) !important;
  background-color: #f66e05 !important;

}

/deep/ .mat-slider-thumb-label-text {
  opacity: 1 !important;
}

/deep/ .mat-slider-track-fill {
  background-color: #f66e05 !important;

}

.loading-spinner{
  background-color: #0000001f;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: grid;
}

.loading-spinner div {
  align-self: end;
}

.loading-message{
  text-align: center;
  align-self: start;
}

