<p>Please choose two models to compare</p>
<select class="selectpicker dropdown mt-4 ml-3" id="first-model" data-live-search="true" [(ngModel)]="firstModelId"
        (change)="selectModel()">
  <option *ngFor="let model of allModels" [ngValue]="model.modelId">{{model.modelName}}</option>
</select>
<br>
<select class="selectpicker dropdown mt-4 ml-3" id="second-model" data-live-search="true" [(ngModel)]="secondModelId"
        (change)="selectModel()">
  <option *ngFor="let model of filteredModels" [ngValue]="model.modelId">{{model.modelName}}</option>
</select>
<br>
<button id="compare-networkx" (click)="callNetworkxComparison()" [disabled]="!comparisonEnabled">Compare with networkx</button>
<br>
<button id="compare-custom" (click)="callCustomComparison()" [disabled]="!comparisonEnabled">Compare with custom algo</button>
<br>
<select [(ngModel)]="simMeasure" style="margin-right: 1em">
  <option>Euclidean</option>
  <option>Cosine</option>
  <option>Manhattan</option>
</select>
<button id="compare-regal" (click)="callRegalComparison()" [disabled]="!comparisonEnabled">Compare with REGAL</button>
<div #scrollOne (scroll)="scrollTwo.scrollLeft = scrollOne.scrollLeft" class="network-container" id="first-model-vis">
  <app-network-simple [graph]="firstModelGraph" [events]="firstGraphChangedEvent.asObservable()"></app-network-simple>
</div>
<br>
<div #scrollTwo (scroll)="scrollOne.scrollLeft = scrollTwo.scrollLeft" class="network-container" id="second-model-vis">
  <app-network-simple [graph]="secondModelGraph" [events]="secondGraphChangedEvent.asObservable()"></app-network-simple>
</div>

<div id="regal-comparison" style="width: 100%;">
  <div id="original-graph1" style="float: left; width: 30%;">
    <p *ngFor="let node of firstModelGraph.nodes">{{node.name}}</p>
  </div>
  <div id="original-graph2" style="float: left; width: 30%;">
    <p *ngFor="let node of secondModelGraph.nodes">{{node.name}}</p>
  </div>
  <div id="matches" style="float: left; width: 30%;">
    <p *ngFor="let item of matchedRegal | keyvalue">{{item.key}} and {{item.value}}</p>
  </div>
</div>
