#first-model-vis {
  /*background: #7f7f7f;*/
}

#second-model-vis {
  /*background: #7ec699;*/
}

.network-container {
  overflow-x: scroll;
  width: 100%;
}
button {
  color: ghostwhite;
  margin: 0 1em 1em 0;
}

/*#compare-custom {*/
/*  margin-left: 1em;*/
/*}*/
