<p>Please choose two models to compare</p>
<select class="selectpicker dropdown mt-4 ml-3" id="first-model" data-live-search="true" [(ngModel)]="firstModelId"
        (change)="selectModel()">
  <option *ngFor="let model of allModels" [ngValue]="model.modelId">{{model.modelName}}</option>
</select>
<br>
<select class="selectpicker dropdown mt-4 ml-3" id="second-model" data-live-search="true" [(ngModel)]="secondModelId"
        (change)="selectModel()">
  <option *ngFor="let model of filteredModels" [ngValue]="model.modelId">{{model.modelName}}</option>
</select>
<br>
<button id="compare-networkx" (click)="callNetworkxComparison()" [disabled]="!comparisonEnabled">Compare with networkx</button>
<button id="compare-custom" (click)="callCustomComparison()" [disabled]="!comparisonEnabled">Compare with custom algo</button>
<div #scrollOne (scroll)="scrollTwo.scrollLeft = scrollOne.scrollLeft" class="network-container" id="first-model-vis">
<!--  <app-network [graph]="firstModelGraph" [events]="firstGraphChangedEvent.asObservable()"></app-network>-->
  <app-network-simple [graph]="firstModelGraph" [events]="firstGraphChangedEvent.asObservable()"></app-network-simple>
</div>
<br>
<div #scrollTwo (scroll)="scrollOne.scrollLeft = scrollTwo.scrollLeft" class="network-container" id="second-model-vis">
<!--  <app-network [graph]="secondModelGraph" [events]="secondGraphChangedEvent.asObservable()"></app-network>-->
  <app-network-simple [graph]="secondModelGraph" [events]="secondGraphChangedEvent.asObservable()"></app-network-simple>
</div>
